<header class="head-title">
  <h3>Datos de la póliza</h3>
  <span class="status active">Estatus: activa</span>
</header>

<form action="" #newPolicyForm="ngForm">
  <mat-form-field class="full-width">
    <mat-select required placeholder="Aseguradora" name="Aseguradora" #insurer="ngModel" [(ngModel)]="_policy.idAseguradora">
      <mat-option *ngFor="let insurer of _insurers" [value]="insurer.id">{{insurer.nombre}}</mat-option>
    </mat-select>
    <mat-error *ngIf="insurer.invalid && (insurer.dirty || insurer.touched)">Elija la Aseguradora.</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-select required placeholder="Categoría" name="categoria" #categoria="ngModel"  (ngModelChange)="_policy.idRamo=null" [(ngModel)]="_policyCategory">
      <mat-option *ngFor="let category of _policyCategories" [value]="category">{{category.nombre}}</mat-option>
    </mat-select>
    <mat-error *ngIf="categoria.invalid && (categoria.dirty || categoria.touched)">Elija la categoría.</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-select required placeholder="Ramo" name="ramo" #ramo="ngModel" [(ngModel)]="_policy.idRamo">
      <mat-option *ngFor="let ramo of _policyCategory.polizaRamos" [value]="ramo.id">{{ramo.nombre}}</mat-option>
    </mat-select>
    <mat-error *ngIf="ramo.invalid && (ramo.dirty || ramo.touched)">Elija el ramo de la póliza.</mat-error>
  </mat-form-field>
  <mat-radio-group name="tipoPoliza" [(ngModel)]="_policy.idTipo" #tipoPoliza="ngModel" required>
    <label *ngFor="let policyType of _policyTypes">
      <mat-radio-button value="{policyType.id}" class="radioBtn">{{policyType.nombre}}</mat-radio-button>
    </label>
  </mat-radio-group>
  <div id="new-insured">
    <div class="row">
      <div class="col-md-7">
        <mat-form-field class="full-width">
          <input matInput placeholder="Asegurado 1:">
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field class="full-width">
          <input matInput placeholder="Cédula:">
        </mat-form-field>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-7">
        <mat-form-field class="full-width">
          <input matInput placeholder="Asegurado 1:">
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field class="full-width">
          <input matInput placeholder="Cédula:">
        </mat-form-field>
      </div>
    </div>
    <span class="add-new-field">[+] Agregar asegurado</span>
  </div>

  <mat-form-field class="full-width">
    <input matInput placeholder="Número:">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Prima:">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="number" placeholder="Saldo:" value="4000" disabled>
  </mat-form-field>

  <div id="pay-method">
    <span class="mat-radio-static-label">Forma de pago:</span>
    <mat-radio-group name="genero">
        <label>
          <mat-radio-button value="total" class="radioBtn">Total</mat-radio-button>
        </label>
        <label>
          <mat-radio-button value="cuota" class="radioBtn">Cuotas</mat-radio-button>
        </label>
    </mat-radio-group>
    <mat-form-field >
        <mat-select value="">
          <mat-option value="">3</mat-option>
          <mat-option value="">4</mat-option>
        </mat-select>
    </mat-form-field>
  </div>

  <div id="frecuency-payment">
    <mat-form-field class="full-width" >
      <mat-select placeholder="Frecuencia de pago:">
        <mat-option value="">Semanal</mat-option>
        <mat-option value="">Quincenal</mat-option>
        <mat-option value="">Mensual</mat-option>
        <mat-option value="">6 meses</mat-option>
        <mat-option value="">Anual</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field class="full-width">
    <input matInput placeholder="Vigencia:" >
  </mat-form-field>

  <span class="mat-radio-static-label">Estatus:</span>
  <mat-slide-toggle class="example-margin" placeholder="Estatus">Activa</mat-slide-toggle>

  <div class="form-btn-bottom">
			<button mat-raised-button color="primary">Guardar</button>
			<a mat-raised-button color="red" [routerLink]="['/policy']">Cancelar</a>
		</div>
</form>