<div class="wrap-col animated fadeIn">
  <div id="insured-client" class="left-col separator-line">
      <app-insured-form></app-insured-form>
  </div>

  <div id="policy-detail" class="middle-col separator-line">      
      <app-policy-form></app-policy-form>
  </div>
  
  <div id="register-pay" class="right-col">
    <header class="head-title">
        <h3>Registro de pagos</h3>
    </header>

    <div class="fee">
        <strong class="label_title">Cuota #1</strong>
        <span><strong>Abonado:</strong> RD$ 4,000.00</span>
        <span><strong>Fecha de pago:</strong> 02/02/18</span>
    </div>
    <div class="fee">
        <strong class="label_title">Cuota #2</strong>
        <span><strong>Abonado:</strong> RD$ 4,000.00</span>
        <span><strong>Fecha de pago:</strong> 02/03/18</span>
    </div>

    <span class="add-new-field">Registrar Pago</span>
  </div>
</div>
