<div class="animated fadeIn">
	<mat-card id="searchBox">
			<input type="text" class="searchInput" placeholder="Buscar..."
			[(ngModel)]="_filterClients.nombreCompleto">
			<button mat-icon-button color="primary"><i class="ion-android-search"></i></button>
	</mat-card>

	<div class="top-options">
		<div class="icons pull-right">
			<a href="/" 
				routerLink="/newClient"
				mat-icon-button 
				matTooltip="Agregar nuevo">				
				<i class="ion-android-add-circle"></i>
			</a>
			<button 
				mat-icon-button
				matTooltip="Exportar">
				<i class="ion-android-download"></i>
			</button>
		</div>
	</div>

	<table id="client_table" class="table" *ngIf="_clients">
		<thead>
			<tr>
				<th class="check"></th>
				<th class="thumbnail"></th>
				<th class="id">ID</th>
				<th>Nombre</th>
				<th>Correo</th>
				<th>Teléfono</th>
				<th>Comentario</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let client of _clients.items | filterBy: _filterClients">
				<th><section><mat-checkbox></mat-checkbox></section></th>
				<td>
					<img *ngIf="!client.avatar" src="../assets/img/xample_pic.jpg" alt="" class="circle border">
					<img *ngIf="client.avatar" src="{{client.avatarUrl}}" alt="" class="circle border">
				</td>
				<td>{{client.id}}</td>
				<td><a href="/" [routerLink]="['/client', client.id]">{{client.nombreCompleto}}</a></td>
				<td><i class="ion-android-mail"></i> {{client.correo}}</td>
				<td><i class="ion-android-call"></i> </td>
				<td>{{client.notas}}</td>
			</tr>
		</tbody>
	</table>
	<mat-paginator class="pull-right" 
		[length]="_clients.paging.totalItems"
		[pageSize]="_pageSize"
		[pageIndex]="_clients.paging.pageNumber"
		[pageSizeOptions]="[5, 10, 25]"
		(page)="paginationChanged($event)">
	</mat-paginator>
</div>