<div class="animated fadeIn">
	<mat-card id="searchBox">
		<form action="">
			<input type="text" class="searchInput" placeholder="Buscar...">
			<button mat-icon-button color="primary"><i class="ion-android-search"></i></button>
		</form>
	</mat-card>

	<div class="top-options">
		<div class="icons pull-right">
			<a href="/" 
				routerLink="/newClient"
				mat-icon-button 
				matTooltip="Agregar nuevo">				
				<i class="ion-android-add-circle"></i>
			</a>
			<button 
				mat-icon-button
				matTooltip="Exportar">
				<i class="ion-android-download"></i>
			</button>
		</div>
	</div>

	<table class="table" *ngIf="_clients">
		<thead>
			<tr>
				<th class="check"></th>
				<th class="thumbnail"></th>
				<th class="id">ID</th>
				<th>Nombre</th>
				<th>Correo</th>
				<th>Teléfono</th>
				<th>Comentario</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let client of _clients">
				<th><section><mat-checkbox></mat-checkbox></section></th>
				<td><img src="../assets/img/xample_pic.jpg" alt="" class="circle border"></td>
				<td>{{client.id}}</td>
				<td><a href="/" [routerLink]="['/client', client.id]">{{client.nombreCompleto}}</a></td>
				<td>{{client.correo}}</td>
				<td></td>
				<td>{{client.notas}}</td>
			</tr>
		</tbody>
	</table>
	<mat-paginator class="pull-right" 
		[length]="25"
		[pageSize]="10"
		[pageSizeOptions]="[5, 10, 25]">
	</mat-paginator>
</div>