<div>
	<header class="head-title">
		<h3>Cliente Asegurado</h3>
		<span  *ngIf="_client.id" class="status"  [ngClass]="{'active': _client.activo, 'inactive': !_client.activo}">Estatus: {{_client.activo ? 'Activo' : 'Inactivo'}}</span>
	</header>

	<form action="" #clientForm="ngForm">
		<mat-form-field class="full-width">
			<input matInput placeholder="Nombre" name="nombreCompleto" [(ngModel)]="_client.nombreCompleto" #nombreCompleto="ngModel"
			 required>
			<mat-error *ngIf="nombreCompleto.invalid && (nombreCompleto.dirty || nombreCompleto.touched)">El Nombre completo del cliente es requerido.</mat-error>
		</mat-form-field>
		<div *ngIf="nombreCompleto.invalid && (nombreCompleto.dirty || nombreCompleto.touched)" class="alert alert-danger">

			<div *ngIf="nombreCompleto.errors.required">

			</div>
		</div>
		<mat-radio-group name="genero" [(ngModel)]="_client.genero" #genero="ngModel" required>
			<label>
				<mat-radio-button value="H" class="radioBtn">Hombre</mat-radio-button>
			</label>
			<label>
				<mat-radio-button value="M" class="radioBtn">Mujer</mat-radio-button>
			</label>
		</mat-radio-group>

		<mat-form-field class="full-width">
			<input matInput placeholder="Cédula" name="identificacion" [(ngModel)]="_client.identificacion" #identificacion="ngModel">
		</mat-form-field>

		<div class="row" *ngFor="let contacto of _client.clientesContactos">
			<div class="col-md-8">
				<mat-form-field class="full-width">
					<input matInput placeholder="Teléfono" name="descripcion" #descripcion="ngModel" [(ngModel)]="contacto.valor" required>
					<mat-error *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">Un teléfono del cliente es requerido.</mat-error>
				</mat-form-field>
			</div>
			<div class="col-md-4">
				<mat-form-field class="full-width">
					<mat-select required placeholder="Tipo" name="tipoContacto" #tipoContacto="ngModel" [(ngModel)]="contacto.idTipoContacto">
						<mat-option *ngFor="let type of _contactTypes" [value]="type.id">{{type.descripcion}}</mat-option>
					</mat-select>
					<mat-error *ngIf="tipoContacto.invalid && (tipoContacto.dirty || tipoContacto.touched)">Elija el tipo de teléfono.</mat-error>
				</mat-form-field>
			</div>
		</div>
		<span class="add-new-field" (click)="addContactRow();">[+] Agregar teléfono</span>

		<mat-form-field class="full-width">
			<input matInput placeholder="Correo" [(ngModel)]="_client.correo" name="correo" #correo="ngModel">
		</mat-form-field>

		<mat-form-field class="full-width">
			<textarea matInput placeholder="Dirección" [(ngModel)]="_client.direccion" name="direccion" #direccion="ngModel"></textarea>
		</mat-form-field>

		<mat-form-field class="full-width">
			<textarea matInput placeholder="Notas" [(ngModel)]="_client.notas" name="notas" #notas="ngModel"></textarea>
		</mat-form-field>

		<div *ngIf="_client.id">
			<span class="mat-radio-static-label">Estatus:</span>
			<mat-slide-toggle class="example-margin" placeholder="Estatus" [(ngModel)]="_client.activo" name="activo" #activo="ngModel">Activo</mat-slide-toggle>
		</div>

		<div class="form-btn-bottom">
			<button mat-raised-button color="primary" (click)="saveClient()" [disabled]="clientForm.pristine || clientForm.invalid || isSaving">Guardar</button>
			<button mat-raised-button color="red" (click)="deleteClient()" *ngIf="_client.id">Eliminar</button>
			<a mat-raised-button color="red" [routerLink]="['/clients']">Cancelar</a>
		</div>
	</form>
</div>