<div>
	<header class="head-title">
		<h3>Datos del Cliente</h3>
	</header>
	
	<form action="" #clientForm="ngForm">
		<mat-form-field class="full-width">
			<input matInput placeholder="Nombre" name="nombreCompleto" [(ngModel)]="_client.nombreCompleto" #nombreCompleto="ngModel"
			 required>
			 <mat-error *ngIf="nombreCompleto.invalid && (nombreCompleto.dirty || nombreCompleto.touched)">El Nombre completo del cliente es requerido.</mat-error>
		</mat-form-field>
		<div *ngIf="nombreCompleto.invalid && (nombreCompleto.dirty || nombreCompleto.touched)" class="alert alert-danger">

			<div *ngIf="nombreCompleto.errors.required">

			</div>
		</div>
		<mat-radio-group name="genero" [(ngModel)]="_client.genero" #genero="ngModel"
		required>
			<label>
				<mat-radio-button value="H" class="md-accent radioBtn">Hombre</mat-radio-button>
			</label>
			<label>
				<mat-radio-button value="M" class="radioBtn">Mujer</mat-radio-button>
			</label>
		</mat-radio-group>

		<mat-form-field class="full-width">
			<input matInput placeholder="Cédula" name="identificacion" [(ngModel)]="_client.identificacion" #identificacion="ngModel">
		</mat-form-field>

		<div class="row">
			<div class="col-md-8">
				<mat-form-field class="full-width">
					<input matInput placeholder="Teléfono 1">
				</mat-form-field>
			</div>
			<div class="col-md-4">
				<mat-form-field class="full-width">
					<mat-select placeholder="Tipo">
						<mat-option value="1">Casa</mat-option>
						<mat-option value="2">Celular</mat-option>
						<mat-option value="3">Trabajo</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<mat-form-field class="full-width">
					<input matInput placeholder="Teléfono 2">
				</mat-form-field>
			</div>
			<div class="col-md-4">
				<mat-form-field class="full-width">
					<mat-select placeholder="Tipo">
						<mat-option value="1">Casa</mat-option>
						<mat-option value="2">Celular</mat-option>
						<mat-option value="3">Trabajo</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<a href="" class="add-new-field">[+] Agregar otro teléfono</a>

		<mat-form-field class="full-width">
			<input matInput placeholder="Correo" [(ngModel)]="_client.correo" name="correo" #correo="ngModel">
		</mat-form-field>

		<mat-form-field class="full-width">
			<textarea matInput placeholder="Dirección" [(ngModel)]="_client.direccion" name="direccion" #direccion="ngModel"></textarea>
		</mat-form-field>
		<mat-form-field class="full-width">
			<textarea matInput placeholder="Notas" [(ngModel)]="_client.notas" name="notas" #notas="ngModel"></textarea>
		</mat-form-field>
		<div class="form-btn-bottom">
			<button mat-raised-button color="primary" (click)="saveClient()" [disabled]="clientForm.pristine || clientForm.invalid">Guardar</button>
			<a mat-raised-button color="red" [routerLink]="['/clients']">Cancelar</a>
		</div>
	</form>
</div>