/*===================================================
====================== NAVBAR =======================
===================================================*/
.navbar { font-size: 15px; line-height: 18px; position: relative; width: 100%; z-index: 999; }
.navbar .container { overflow: hidden; padding: 0 20px; }
.navbar a, .navbar .static-option { color: #353535; cursor: pointer; display: block; padding: 16px; text-decoration: none; }
.navbar a:hover, .navbar .static-option:hover { text-decoration: none; }
.navbar a.icons, .navbar .static-option.icons { font-size: 24px; padding: 12px 15px; }
.navbar .head-nav { float: left; font-size: 18px; margin-right: 40px; }
.navbar .head-nav a { opacity: 1 !important; padding-left: 0; }
.navbar nav { float: left; }
.navbar ul { margin: 0; padding: 0; }
.navbar ul li { float: left; list-style: none; margin-left: 10px; }
.navbar .submenu.horizontal:hover nav, .navbar .submenu.vertical:hover nav { height: auto; visibility: visible; opacity: 1; }
.navbar .submenu.horizontal:hover nav { height: 48px; }
.navbar .submenu.horizontal nav li { float: left; margin-right: 3px; }
.navbar .submenu.vertical { position: relative; }
.navbar .submenu.vertical nav { min-width: 150px; width: auto; }
.navbar .submenu.vertical nav li { transition: none !important; -webkit-transition: none !important; -moz-transition: none !important; -ms-transition: none !important; -o-transition: none !important; width: 100%; }
.navbar .submenu nav { transition: 0.2s; -webkit-transition: 0.2s; -moz-transition: 0.2s; -ms-transition: 0.2s; -o-transition: 0.2s; height: 0; left: 0; opacity: 0; position: absolute; visibility: hidden; width: 100%; z-index: 998; }
.navbar .submenu nav li { transition: none !important; -webkit-transition: none !important; -moz-transition: none !important; -ms-transition: none !important; -o-transition: none !important; }
.navbar .submenu nav li a, .navbar .submenu nav li .static-option { opacity: .8; }
.navbar .submenu nav li a:hover, .navbar .submenu nav li .static-option:hover { background-color: rgba(255, 255, 255, 0.2); opacity: 1; }
.navbar.default { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -o-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); background-color: #003399; color: #fff; }
.navbar.default .head-nav a { color: #fff; }
.navbar.default li { position: relative; }
.navbar.default li .bottom-line { transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -ms-transition: 0.3s; -o-transition: 0.3s; background-color: #e66400; bottom: 0; display: block; height: 4px; left: -50%; margin: 0 auto; position: absolute; right: -50%; width: 0; }
.navbar.default li a, .navbar.default li .static-option { transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -ms-transition: 0.3s; -o-transition: 0.3s; color: #fff; opacity: 0.7; }
.navbar.default li a:hover, .navbar.default li a.current, .navbar.default li .static-option:hover, .navbar.default li .static-option.current { color: #fff; opacity: 1; }
.navbar.default li a:hover .bottom-line, .navbar.default li a.current .bottom-line, .navbar.default li .static-option:hover .bottom-line, .navbar.default li .static-option.current .bottom-line { width: 100%; }
.navbar.default .submenu { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -o-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); }
.navbar.default .submenu nav { background-color: #274058; }
.navbar.darknav { background-color: rgba(53, 53, 53, 0.9); }
.navbar.darknav img { float: left; height: auto; margin-right: 5px; position: relative; top: -7px; width: 30px; }
.navbar.darknav li { transition: 0.2s; -webkit-transition: 0.2s; -moz-transition: 0.2s; -ms-transition: 0.2s; -o-transition: 0.2s; margin-right: 2px; }
.navbar.darknav li:hover, .navbar.darknav li.current { background-color: #2980b9; }
.navbar.darknav a, .navbar.darknav .static-option { color: #fff; }
.navbar.darknav .submenu nav { background-color: #2980b9; }
.navbar.sidebar { margin-bottom: 0; z-index: 99; }
.navbar.sidebar ul { float: none; width: 100%; }
.navbar.sidebar ul li { transition: 0.3s; -webkit-transition: 0.3s; -moz-transition: 0.3s; -ms-transition: 0.3s; -o-transition: 0.3s; box-shadow: 0 0 0 #16a085 inset; -webkit-box-shadow: 0 0 0 #16a085 inset; -moz-box-shadow: 0 0 0 #16a085 inset; -ms-box-shadow: 0 0 0 #16a085 inset; -o-box-shadow: 0 0 0 #16a085 inset; border-bottom: 1px solid rgba(255, 255, 255, 0.05); float: none; margin-right: 0; width: 100%; }
.navbar.sidebar ul li:last-child { border-bottom: 0; }
.navbar.sidebar ul li:hover, .navbar.sidebar ul li.selected { box-shadow: 200px 0 0 rgba(22, 160, 133, 0.9) inset; -webkit-box-shadow: 200px 0 0 rgba(22, 160, 133, 0.9) inset; -moz-box-shadow: 200px 0 0 rgba(22, 160, 133, 0.9) inset; -ms-box-shadow: 200px 0 0 rgba(22, 160, 133, 0.9) inset; -o-box-shadow: 200px 0 0 rgba(22, 160, 133, 0.9) inset; font-weight: bold; padding-left: 20px; }
.navbar.sidebar ul li a, .navbar.sidebar ul li .static-option { color: #fff; margin-bottom: 2px; padding: 10px 15px; }
.navbar.sidebar ul li .static-option { position: relative; }
.navbar.sidebar ul li .static-option:after { content: "\f10a"; display: block; font-family: "Ionicons"; font-size: 14px; position: absolute; right: 8px; top: 10px; }
.navbar.sidebar ul li.sub-sidebar nav { background-color: rgba(53, 53, 53, 0.9); box-shadow: 1px 0 3px rgba(0, 0, 0, 0.8) inset; display: none; height: 100vh; position: absolute; right: -200px; top: -30px; width: 200px; }
.navbar.sidebar ul li.sub-sidebar ul { padding-top: 30px; }
.navbar.sidebar ul li.sub-sidebar li { font-weight: normal; }
.navbar.sidebar ul li.sub-sidebar li:hover { box-shadow: -5px 0 0 rgba(22, 160, 133, 0.9) inset; -webkit-box-shadow: -5px 0 0 rgba(22, 160, 133, 0.9) inset; -moz-box-shadow: -5px 0 0 rgba(22, 160, 133, 0.9) inset; -ms-box-shadow: -5px 0 0 rgba(22, 160, 133, 0.9) inset; -o-box-shadow: -5px 0 0 rgba(22, 160, 133, 0.9) inset; padding-left: 0; }
.navbar.sidebar ul li.sub-sidebar li .static-option:after { position: relative; }
.navbar.sidebar ul li.sub-sidebar li .static-option:after:after { content: "\f10a"; display: block; font-family: "Ionicons"; font-size: 14px; position: absolute; right: 8px; top: 10px; }
.navbar.sidebar [class*='ion'] { margin-right: 5px; }

/*===================================================
==================== CONTAINERS =====================
===================================================*/
.basic-cont { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -o-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); background-color: #fff; border-top: 1px solid rgba(204, 204, 204, 0.5); border-radius: 3px; padding: 30px; }

#content-page { margin-top: 30px; position: relative; }
#content-page .basic-cont { background-color: #fff; margin-bottom: 30px; padding: 25px 30px 30px; }
#content-page .back-page { background-color: #fff; height: 50px; left: -50%; margin: 0 auto; position: absolute; right: -50%; top: -14px; width: 93%; z-index: -1; }

.cards a { color: #353535; display: block; text-decoration: none; }
.cards .list { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); -o-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14); border: 1px solid rgba(204, 204, 204, 0.5); border-bottom: 4px solid rgba(244, 67, 54, 0.8); border-radius: 3px; background-color: #fff; margin-bottom: 10px; min-height: 250px; }
.cards .list:hover .thumbnail img { transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); -o-transform: scale(1.5); }
.cards .list:hover .thumbnail .title { opacity: 1 !important; visibility: visible !important; }
.cards .list .thumbnail { height: 140px; overflow: hidden; position: relative; }
.cards .list .thumbnail img { transition: 0.4s; -webkit-transition: 0.4s; -moz-transition: 0.4s; -ms-transition: 0.4s; -o-transition: 0.4s; border-radius: 0; display: block; height: 100%; left: -50%; margin: 0 auto; right: -50%; position: absolute; top: 0; width: 100%; }
.cards .list .thumbnail .title { transition: 0.4s; -webkit-transition: 0.4s; -moz-transition: 0.4s; -ms-transition: 0.4s; -o-transition: 0.4s; background-color: rgba(0, 0, 0, 0.8); color: #fff; font-size: 12px; font-style: italic; height: 100%; opacity: 0; padding: 60px 10px 0; position: absolute; text-align: center; top: 0; visibility: hidden; width: 100%; }
.cards .list .thumbnail .title:before, .cards .list .thumbnail .title:after { border-top: 1px solid #fff; content: ''; display: inline-block; height: 4px; width: 10px; }
.cards .list .thumbnail .title:before { margin-right: 5px; }
.cards .list .thumbnail .title:after { margin-left: 5px; }
.cards .list .content { padding: 10px 15px; }
.cards .list .content h4 { margin-bottom: 5px; }
.cards .list .content p { font-size: 14px; margin: 0; }

/*===================================================
====================== IMAGES =======================
===================================================*/
img { border-radius: 3px; display: inline-block; height: 110px; overflow: hidden; position: relative; width: 120px; }
img.small { height: 60px; width: 70px; }
img.medium { height: 160px; width: 170px; }
img.large { height: 210px; width: 220px; }
img.border { background-color: #fff; border: 1px solid #e5e5e5; padding: 4px; }
img.circle { border-radius: 50% !important; height: 110px; overflow: hidden; width: 110px; }
img.circle.small { height: 50px; width: 50px; }
img.circle.medium { height: 150px; width: 150px; }
img.circle.large { height: 200px; width: 200px; }
img.circle img { border-radius: 100px; }
img.pull-left { margin: 0 15px 15px 0; }
img.pull-right { margin: 0 0 15px 15px; }

.image-block { display: inline-block; position: relative; }
.image-block img { display: block; margin: 0 !important; }
.image-block .image-label { background-color: rgba(53, 53, 53, 0.7); bottom: 0; color: #fff; display: block; font-size: 14px; line-height: normal; padding: 5px 10px; position: absolute; width: 100%; }

/*===================================================
====================== TABLES =======================
===================================================*/
table.table { line-height: normal; width: 100%; }
table.table th { font-size: 15px; padding: 8px 10px; }
table.table td { font-size: 14px; padding: 6px 10px; }
table.table thead { border-bottom: 2px solid #CCC; border-top: 2px solid #CCC; }
table.table thead.nocenter th { text-align: left; }
table.table tbody tr { border-bottom: 1px solid #CCC; }
table.table.striped tbody tr:nth-child(2n) { background-color: #ECECEC; }
table.table.bgheader { background-color: #fff; border: 1px solid #CCC; border-bottom: 0; border-collapse: separate; border-radius: 5px; overflow: hidden; }
table.table.bgheader thead { background-color: #274058; border: 0; }
table.table.bgheader thead th { color: #fff; }
table.table.bgheader td { border-bottom: 1px solid #CCC; }
table.table.fcolor { background-color: #274058; border-radius: 5px; color: #fff; overflow: hidden; }
table.table.fcolor thead, table.table.fcolor tbody tr { border: 1px solid rgba(255, 255, 255, 0.1); }
table.table.fcolor.fcolor.striped tbody tr:nth-child(2n) { background-color: #3A546D !important; }
table.table.column thead { border: 0; }
table.table.column th:after { border-bottom: 2px solid #2980b9; display: block; content: ""; margin: 10px auto 0; width: 100%; }
table.table.column th:first-child { padding-left: 0; }
table.table.column th:last-child { padding-right: 0; }
table.table.column tbody tr { border: 0; }

/*# sourceMappingURL=main.css.map */
