<div id="client-info-page" class="animated fadeIn">
    <div id="user-profile" class="separator-line">
        <img src="../assets/img/xample_pic.jpg" alt="" class="border full-width">
        <button class="full-width" mat-raised-button color="accent"><i class="ion-android-upload"></i> Subir</button>
    </div>

    <div id="insured" class="separator-line">
        <app-form></app-form>
    </div> 

    <div id="policy">
        <header class="head-title">
            <h3>Pólizas Relacionadas</h3>            
        </header>

        <div class="info-block">
            <strong class="label_title">Seguros universal vehicular</strong>
            <div class="row">
                <div class="col-md-6"><strong>Costo:</strong> RD$ 1800.00</div>
                <div class="col-md-6"><strong>Debe:</strong> RD$ 800.00</div>
            </div>
            <div class="row">
                <div class="col-md-6"><strong>Fecha:</strong> 12/11/17</div>
                <div class="col-md-6"><strong>Finaliza:</strong> 12/11/18</div>
            </div>
        </div>
        <div class="info-block">
            <strong class="label_title">Seguros universal vehicular</strong>
            <div class="row">
                <div class="col-md-6"><strong>Costo:</strong> RD$ 1800.00</div>
                <div class="col-md-6"><strong>Debe:</strong> RD$ 800.00</div>
            </div>
            <div class="row">
                <div class="col-md-6"><strong>Fecha:</strong> 12/11/17</div>
                <div class="col-md-6"><strong>Finaliza:</strong> 12/11/18</div>
            </div>
        </div>
    </div>
</div>