<div id="client-info-page" class="wrap-col animated fadeIn">
    <div id="user-profile" class="left-col separator-line">
        <img *ngIf="_loaded" src="{{_client.avatarUrl || '../assets/img/xample_pic.jpg'}}" alt="" class="border full-width">
        <button class="full-width" mat-raised-button color="accent" (click)="pickPhoto();"><i class="ion-android-upload"></i> Subir</button>
        <input [hidden]="true" #profilePhotoInput type="file" id="btnUpload" value="Upload" (change)="saveImage($event,_client.id)" class="upload" />  
    </div>

    <div id="insured" class="middle-col separator-line">
        <client-form [client]="_client" [contactTypes]="_contactTypes" (clientSaved)="saveHandler($event)"
        (clientDeleted)="deleteHandler($event)"></client-form>
    </div> 

    <div id="policy" class="right-col">
        <header class="head-title">
            <h3>Pólizas Relacionadas</h3>            
        </header>

        <div class="info-block">
            <strong class="label_title">No.000 - Seguros universal</strong>
            <div class="row">
                <div class="col-md-6"><strong>Prima:</strong> RD$ 1800.00</div>
                <div class="col-md-6"><strong>Saldo:</strong> RD$ 800.00</div>
            </div>
            <strong>Vigencia:</strong> 12/11/17 - 12/11/18
        </div>
        <div class="info-block">
            <strong class="label_title">No.000 - Seguros universal</strong>
            <div class="row">
                <div class="col-md-6"><strong>Prima:</strong> RD$ 1800.00</div>
                <div class="col-md-6"><strong>Saldo:</strong> RD$ 800.00</div>
            </div>
            <div class="row">
                <div class="col-md-12"><strong>Vigencia:</strong> 12/11/17 - 12/11/18</div>
            </div>
        </div>
    </div>
</div>