<div mat-dialog-title></div>
<div mat-dialog-content>
  <div class="row">
    <div class="dialog-icon col-md-2">
      <i class="ion-android-warning"></i>
    </div>
    <div class="col-md-10">
        <p [innerHTML]="data.question" class="dialog"></p>
        <p class="dialog">{{data.additionalInfo}}</p>
    </div>
  </div>
</div>
<div mat-dialog-actions style="margin-left: 56px;">
  <button mat-raised-button color="red" [mat-dialog-close]="true" cdkFocusInitial>{{data.okText}}</button>
  <button mat-raised-button (click)="onNoClick()">{{data.cancelText}}</button>
</div>