@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import 'assets/scss/main.scss';

/*===============================================================================================================================
========================================================= GENERAL STYLES ========================================================
===============================================================================================================================*/
* { box-sizing: border-box; }

body { 
	background-color: #f4f4f4; 
	color: #353535;
	font-family: "Lato", sans-serif;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 { font-family: "Roboto", sans-serif; margin-top: 0;}

a { color: $blue; }

#wrapper, .navbar .container { 
	border-radius: 0; 
	margin: 0 auto;
	max-width: 1200px;
	padding: 0; 
	width: 100%;
}

#main-body { 
	min-height: 496px; 
	overflow: hidden;
	padding: 25px; 
}

.container { padding: 0 20px; width: 100%; }

.pull-left { float: left; }
.pull-right { float: right; }

.full-width { max-width: 100%; width: 100%; }
img.full-width { height: auto; }

.head-title { 
	margin-bottom: 30px; 
	position: relative;
	text-transform: uppercase; 

	.status { 
		background-color: $grey;
		border-radius: 1em; 
		font-size: 12.5px;
		padding: 2px 14px;
		position: absolute;
		right: 0;
		text-align: center;
		text-transform: none;
		top: -2px;

		&.active { background-color: $green-sea; color: $white; }
	}
}

.label_title { 
	color: #001f5b; 
	display: block;
	margin-bottom: 6px; 
}

.add-new-field { 
	color: #2980b9;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	margin: -10px 0 30px;  
}

.separator-line { border-right: 1px solid #e5e5e5; }

.mat-tooltip { font-size: 12px !important; }

.hide { display: none; }

//COLUMNS
.wrap-col { display: table; width: 100%; }

.left-col, .middle-col, .right-col { display: table-cell; vertical-align: top; }

.left-col { padding-right: 20px; }

.middle-col { padding: 0 20px; }

.right-col { padding-left: 20px; }

//MAT-CARD SEARCH
#searchBox { 
	margin-bottom: 20px;
	padding: 0;
	position: relative;

	.searchInput {
		border: 0;
		border-bottom: 2px solid transparent;
		height: 48px;
		outline: none;
		padding: 0 60px 0 20px;
		transition: border-color .3s ease;
		width: 100%;
		&:focus {
			border-bottom-color: rgba($primary, .6);
			opacity: 1;
		}
	}

	button { 
		font-size: 22px;
		min-width: auto;
		position: absolute;
		right: 5px;
		top: 5px;
	}
}

//LIST OF RECORD
.top-options {
	margin-bottom: 10px;
	overflow: hidden;

	&.icons { margin-bottom: 0; }

	.mat-icon-button { font-size: 26px; }
}

.table {
	width: 100%;

	thead { border-top: 0 !important; }

	th { text-align: left; }

	.check { width: 3%; }

	.thumbnail { width: 5%; }

	.id { width: 3%; }

	img { 
		border-color: #CCC;
		height: 30px;
		padding: 2px;
		width: 30px;
	}
}
//MESSAGES
.dialog-message {
	background-color: #e7f4f8;
	border-radius: .3em;
	font-size: 13px;
	padding: 10px 15px;
	width: 100%;

	p { margin: 0; }
}

.mat-dialog-container {
	border-top: 4px solid $primary;

	.mat-dialog-title h3 { font-weight: bold; margin-bottom: 15px; }

	.dialog-icon { font-size: 40px; }

	.mat-dialog-content p { margin-top: 0; }

	.mat-dialog-content .dialog { 
		font-size: 16px; 

		b { color: $accent; }
	}

	.mat-dialog-actions {
		padding-bottom: 0;

		&:last-child { margin-bottom: 0; }
	}
}

//LOADING
.mat-progress-spinner {  
	margin: 0 auto; 

	circle, .mat-spinner circle { stroke: $primary; }

	circle { stroke-width: 8% !important; }

	&, svg { height: 60px !important; width: 60px !important; }

}

.mat-progress-bar.mat-accent .mat-progress-bar-buffer { background: $accent; }
.mat-progress-bar.mat-accent .mat-progress-bar-background { fill: $accent; }
.mat-progress-bar.mat-accent .mat-progress-bar-fill::after { background-color: #ff7f1d; }

//TABS
.mat-tab-body-wrapper { overflow: inherit !important; }
.mat-tab-body-content { overflow: hidden; }
/*===============================================================================================================================
============================================================= HEADER ============================================================
===============================================================================================================================*/
#user-options { 
	float: right; 
	padding-top: 7px; 

	a { padding: 0; }

	.initials {
		background: #dbe5f6;
		border-radius: 50%;
	    color: #001f5b;
	    display: inline-block;
	    font-size: 13px;
	    font-weight: bold;
	    height: 35px;
	    line-height: 35px;
	    text-align: center;
	    width: 35px;
	}

	i { 
		color: #FFF; 
		display: inline-block;
		font-size: 10px;
		margin-left: 2px; 
	}
}
/*===============================================================================================================================
========================================================= FOOTER SECTION ========================================================
===============================================================================================================================*/
footer {
	a { 
		color: $white; 
		text-decoration: none; 
		&:hover { text-decoration: underline; }
	}

	.footer-img {
		background: url('assets/img/footer_img.jpg') center;
		border-top: 2px solid #d2d2d2;
		height: 50px;
	}

	.footer-copy { 
		background-color: #393e47; 
		color: #FFF;
		font-size: 11.5px;
		padding: 15px 20px; 
	}

	#footer-links { 
		text-align: center; 

		ul { margin: 0; padding: 0; }

		li { 
			display: inline-block; 
			line-height: normal;
			padding: 0 10px; 

			&:nth-child(2) { border-left: 1px solid #fff; border-right: 1px solid #fff; }
		}
	}

	.footer-copy .row div:last-child { 
		text-align: right; 

		a { padding-left: 5px; }	
	}
}
/*===============================================================================================================================
========================================================== FORM STYLES ==========================================================
===============================================================================================================================*/
input:disabled { cursor: not-allowed; }

.form-btn-bottom { 
	margin-top: 10px;
	text-align: right;

	.mat-raised-button { 
		margin-right: 10px;
		 
		&:last-child { margin-right: 0; }
	}
}

form .mat-form-field { margin-bottom: 8px; }

.mat-form-field-underline { background-color: rgba(229, 229, 229, 1); }

//LABEL
.mat-form-field-label, .mat-focused .mat-form-field-label.mat-form-field-placeholder {
	color: $primary !important;	
	font-size: 16px !important;
	font-weight: bold !important; 
}

.mat-form-field-label.mat-empty { 
	color: rgba(0,0,0,.54) !important;
	font-size: 15px !important;
	font-weight: normal !important;
}

.mat-radio-static-label {
	color: $primary !important;	
	display: block;
	font-size: 13px !important;
	font-weight: bold !important; 
}

//BUTTONS
.mat-raised-button.mat-accent { background-color: $accent !important; }

.mat-raised-button.mat-red { color: $white; background-color: $red !important; }

//RADIO & CHECKBOX
form .mat-radio-group { display: block; margin-bottom: 20px; }

.mat-radio-group label .mat-radio-button { margin-right: 20px; }
.mat-radio-group label:last-child .mat-radio-button { margin-right: 0; }

.mat-radio-button.mat-accent .mat-radio-inner-circle, 
.mat-checkbox-checked.mat-accent .mat-checkbox-background, 
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background { background-color: $accent !important; }

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle { border-color: $accent; }

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element,
.mat-checkbox.mat-accent .mat-ripple-element { background-color: rgba($accent, .26) !important; }

.mat-radio-group > label { margin-right: 10px; }
.mat-radio-group > label:last-child { margin-right: 0; }
.mat-radio-outer-circle { border-color: #ccc; }

//SLIDE TOGGLE
.mat-slide-toggle { margin-bottom: 20px; }
.mat-radio-static-label + .mat-slide-toggle { margin-top: 5px; }

.mat-slide-toggle-content { font-size: 15px; }

.mat-slide-toggle-thumb { height: 22px !important; width: 22px !important; }
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container { transform: translate3d(18px,0,0) !important; }
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb { background-color: $accent; }

.mat-slide-toggle-bar { height: 16px !important; width: 40px !important; }
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar { background-color: rgba($accent, 0.4); }

.mat-slide-toggle-ripple.mat-ripple .mat-ripple-element { background-color: rgba($accent, .26); }

/*===============================================================================================================================
========================================================= CLIENT SECTION ========================================================
===============================================================================================================================*/
#client-info-page { 
	#user-profile { 		 
		width: 15%; 

		button { margin-top: 10px; }
	}

	#insured { width: 50%; }

	#policy {  
		width: 35%; 

		.info-block {
			border-bottom: 1px solid #e5e5e5; 
			margin-bottom: 8px;
			padding: 0 0 10px;

			&:last-child { border-bottom: 0; }
		}

		.row { font-size: 14px; }
	}
}

#client_table {
	td { padding: 4px 10px; }

	img { 
		border-width: 2px;
		padding: 1px;

		&.active { border-color: #16a085; }
	 }
}

/*===============================================================================================================================
========================================================= POLICY SECTION ========================================================
===============================================================================================================================*/
#fake-search {
	cursor: pointer;
	margin: 20px 0 30px;
	padding: 10px 15px;
	
	span { opacity: .8; }

	i { 
		color: $primary; 
		font-size: 18px;
		position: absolute;
		right: 15px;
	}
}

#insured-client {
	width: 26.3%;

	#searchBox { 
		margin: 20px 0 30px; 

		.searchInput { height: 40px; }

		button { top: 0; }
	}

	form .mat-form-field { margin-bottom: 0; }

	#client-info {
		font-size: 14px;

		span {
			border-bottom: 1px solid #e5e5e5; 
			display: block;
			margin-bottom: 4px;
			padding-bottom: 4px;
		}

		i { font-size: 17px; margin-right: 5px; }

		strong { color: #001f5b; margin-right: 5px; }
	}

	#new-client-form { margin-top: 30px; }
} 

#policy-detail {
	padding: 0; 

	.head-title { 
		padding: 0 20px; 

		.status { right: 20px; }
	}

	.mat-tab-header { padding: 0 20px; }

	.mat-tab-label { height: 40px; }

	.mat-tab-label-active { 
		background-color: #e7ebf3; 
		font-weight: bold; 
		opacity: 1;
	}

	form { padding: 20px; }
	
	#pay-method {
		.mat-radio-static-label {margin-bottom: -10px;  }

		.mat-radio-group { display: inline-block; }

		.mat-form-field { 
			margin-left: 10px;
			text-align: center; 
			width: 80px;
		}
	}

	#new-insured {
		& > .register {
			border-top: 3px solid #e5e5e5;
			margin-top: 10px;
			padding-top: 20px;

			&:first-child { 
				border-top: 0; 
				margin-top: 0;
				padding-top: 0;
			}
		}

		.beneficiarios { 
			overflow: hidden; 

			.add-new-field { 
				float: right;
				margin: 20px 0 0 0; 
				text-align: right; 
			}
		}		

		fieldset {
			border-color: #dadada;
			border-radius: 3px;
			margin-top: 5px;
			padding: 20px 20px 0;

			legend { color: #63718c; font-weight: bold; }
		}

		#btn-new-insured {
			color: #3f50b5;
			font-size: 12px;
			font-weight: bold;
			margin: 15px 0 20px;
		}
	}
}

#register-pay {
	width: 25%;

	.fee {
		background-color: #f1f1f1;
		border-radius: .3em;
		margin-bottom: 10px;
		padding: 10px;

		span { display: block; font-size: 14px; }
	}

	.add-new-field {  
		font-size: 15px;
		margin-top: 10px;
		text-align: right; 
	}
}