<div class="animated fadeIn">
	<mat-card id="searchBox">
		<form action="">
			<input type="text" class="searchInput" placeholder="Buscar...">
			<button mat-icon-button color="primary"><i class="ion-android-search"></i></button>
		</form>
	</mat-card>

	<mat-progress-spinner 
    	color="primary"
		mode="indeterminate">
	</mat-progress-spinner>

	<div class="top-options">
		<div class="icons pull-right">
			<a href="/" 
				routerLink="/newPolicy"
				mat-icon-button 
				matTooltip="Agregar nuevo">				
				<i class="ion-android-add-circle"></i>
			</a>
			<button 
				mat-icon-button
				matTooltip="Exportar">
				<i class="ion-android-download"></i>
			</button>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th class="check"></th>
				<th class="id">ID</th>
				<th>Cliente</th>
				<th>Aseguradora</th>
				<th>Categoría</th>
        		<th>Tipo</th>
       			<th>Prima</th>
       			<th>Saldo</th>
        		<th>Vigencia</th>
			</tr>
		</thead>
		<tbody>
			<tr>				
				<td></td>
        		<td>12345</td>
				<td><a href="/" [routerLink]="['/policy', 0]">Hairo Mercedes</a></td>
				<td>Hairo Mercedes</td>
				<td>Universal</td>
				<td>Vehículo</td>
				<td>Individual</td>
				<td>12,000</td>
				<td>02/02/18 - 02/02/19</td>
			</tr>
			<tr>				
				<td></td>
				<td>12345</td>
				<td><a href="">Hairo Mercedes</a></td>
				<td>Universal</td>
				<td>Vehículo</td>
				<td>Individual</td>
				<td>12,000</td>
				<td>4,000</td>
				<td>02/02/18 - 02/02/19</td>
			</tr>
		</tbody>
	</table>
	<mat-paginator class="pull-right" 
		[length]="25"
		[pageSize]="10"
		[pageSizeOptions]="[5, 10, 25]">
	</mat-paginator>
</div>